# find a way to get etcd cluster to automatically launch on skyflow.
click
etcd3
fastapi
uvicorn[standard]
kubernetes
protobuf==3.20.0
pydantic>=2.5.0
pytest
pyyaml
requests
rich
tabulate
skypilot[aws,gcp,azure,kubernetes]
