{
    "script": "{{submission_script}}",
    "job": {
      "name": "{{name}}",
      "account": "{{account}}",
      "hold": false,
      "environment":
        {{envs}}
      ,
      "tasks": {{cpus}},
      "memory_per_cpu": {{memory_per_cpu}},
      "time_limit": {{time_limit}}
    }
}