apiVersion: v1
kind: Service
metadata:
  name: {{name}}
  labels:
    manager: sky_manager
    sky_namespace: {{sky_namespace}}
    primary_service: "{{primary_service}}"
spec:
  type: {{type}}
  {% if selector %}
  selector: 
    {% for key, value in selector.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
  {% endif %}
  ports:
    {% for port in ports %}
    - protocol: {{ port.protocol }}
      port: {{ port.port }}
      targetPort: {{ port.target_port }}
    {% endfor %}