apiVersion: v1
kind: Pod
metadata:
  name: {{pod_name}}
  labels: 
    manager: sky_manager
    cluster: {{cluster_name}}
    sky_job_id: {{sky_job_id}}
spec: 
  restartPolicy: {{restart_policy}} 
  containers: 
    - name: my-container
      image: {{image}}
      volumeMounts: 
        - name: scratch-space
          mountPath: /scratch
      ports:
        - containerPort: {{port}}
      env:
        - name: POD_RANK
          value: "{{pod_rank}}"
      command:
        - "/bin/sh"
        - "-c"
      args:
        - |          
          {{run}}
      resources:
        limits:
          cpu: {{cpu}}
          {% if gpu is not none and gpu < 1 %}
          nvidia.com/gpu: {{ gpu }}
          {% endif %}
        requests:
          cpu: {{cpu}}
          {% if gpu is not none and gpu < 1 %}
          nvidia.com/gpu: {{ gpu }}
          {% endif %}
  volumes:
    - name: scratch-space
      emptyDir: 
        medium: Memory